### Drgcodes table

In [4]:
#import libraries
import os
import gzip
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
file ='C:/Users/zuoch/Downloads/Final semester/DAB304- Health analytics/mimic-iii-clinical-database-1.4/DRGCODES.csv.gz'
drgcodes = pd.read_csv(file, compression ='gzip')
drgcodes

,ROW_ID,SUBJECT_ID,HADM_ID,DRG_TYPE,DRG_CODE,DESCRIPTION,DRG_SEVERITY,DRG_MORTALITY
0,342,2491,144486,HCFA,28,"TRAUMATIC STUPOR & COMA, COMA <1 HR AGE >17 WI...",NaN,NaN
1,343,24958,162910,HCFA,110,MAJOR CARDIOVASCULAR PROCEDURES WITH COMPLICAT...,NaN,NaN
2,344,18325,153751,HCFA,390,NEONATE WITH OTHER SIGNIFICANT PROBLEMS,NaN,NaN
3,345,17887,182692,HCFA,14,SPECIFIC CEREBROVASCULAR DISORDERS EXCEPT TRAN...,NaN,NaN
4,346,11113,157980,HCFA,390,NEONATE WITH OTHER SIGNIFICANT PROBLEMS,NaN,NaN
...,...,...,...,...,...,...,...,...
125552,123452,71582,101422,MS,221,CARDIAC VALVE & OTH MAJ CARDIOTHORACIC PROC W/...,NaN,NaN
125553,123453,46449,110075,APR,1653,Coronary Bypass w/ Cardiac Cath Or Percutaneou...,3.0,2.0
125554,123454,46449,110075,APR,1653,Coronary Bypass w/ Cardiac Cath Or Percutaneou...,3.0,2.0
125555,123455,46449,110075,MS,234,CORONARY BYPASS W CARDIAC CATH W/O MCC,NaN,NaN
125556,123456,87879,155607,APR,6813,Other O.R. Procedures For Lymphatic/Hematopiet...,3.0,2.0

In [8]:
# Display basic information about the dataset
drgcodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125557 entries, 0 to 125556
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ROW_ID         125557 non-null  int64
 1   SUBJECT_ID     125557 non-null  int64
 2   HADM_ID        125557 non-null  int64
 3   DRG_TYPE       125557 non-null  object
 4   DRG_CODE       125557 non-null  int64
 5   DESCRIPTION    125494 non-null  object
 6   DRG_SEVERITY   66634 non-null   float64
 7   DRG_MORTALITY  66634 non-null   float64
dtypes: float64(2), int64(4), object(2)
memory usage: 7.7+ MB

In [9]:
#checking first rows
drgcodes.head()

,ROW_ID,SUBJECT_ID,HADM_ID,DRG_TYPE,DRG_CODE,DESCRIPTION,DRG_SEVERITY,DRG_MORTALITY
0,342,2491,144486,HCFA,28,"TRAUMATIC STUPOR & COMA, COMA <1 HR AGE >17 WI...",NaN,NaN
1,343,24958,162910,HCFA,110,MAJOR CARDIOVASCULAR PROCEDURES WITH COMPLICAT...,NaN,NaN
2,344,18325,153751,HCFA,390,NEONATE WITH OTHER SIGNIFICANT PROBLEMS,NaN,NaN
3,345,17887,182692,HCFA,14,SPECIFIC CEREBROVASCULAR DISORDERS EXCEPT TRAN...,NaN,NaN
4,346,11113,157980,HCFA,390,NEONATE WITH OTHER SIGNIFICANT PROBLEMS,NaN,NaN

In [13]:
#checking number of the columns and rows
drgcodes.shape

(125557, 8)

In [11]:
# Check for missing values
print("\nMissing Values:")
print(drgcodes.isnull().sum())

Missing Values:
ROW_ID               0
SUBJECT_ID           0
HADM_ID              0
DRG_TYPE             0
DRG_CODE             0
DESCRIPTION         63
DRG_SEVERITY     58923
DRG_MORTALITY    58923
dtype: int64

In [12]:
# Display summary statistics for numerical columns
numeric_stats = drgcodes.describe()
numeric_stats

,ROW_ID,SUBJECT_ID,HADM_ID,DRG_CODE,DRG_SEVERITY,DRG_MORTALITY
count,125557.000000,125557.000000,125557.000000,125557.000000,66634.000000,66634.000000
mean,62779.000000,41762.886418,150050.705600,1822.518378,2.978104,2.669643
std,36245.328212,29280.952006,28877.584972,2371.218205,0.929275,1.102936
min,1.000000,2.000000,100001.000000,1.000000,0.000000,0.000000
25%,31390.000000,17302.000000,125042.000000,250.000000,2.000000,2.000000
50%,62779.000000,31054.000000,150158.000000,619.000000,3.000000,3.000000
75%,94168.000000,66957.000000,175035.000000,2074.000000,4.000000,4.000000
max,125557.000000,99999.000000,199999.000000,9550.000000,4.000000,4.000000

In [15]:
#replace the missing value 

drgcodes['DESCRIPTION'].fillna('No record', inplace=True)
drgcodes['DRG_SEVERITY'].fillna('Unknown', inplace=True)
drgcodes['DRG_MORTALITY'].fillna('Unknown', inplace=True)

In [16]:
#checking missing values after changes
drgcodes.isnull().sum()

ROW_ID           0
SUBJECT_ID       0
HADM_ID          0
DRG_TYPE         0
DRG_CODE         0
DESCRIPTION      0
DRG_SEVERITY     0
DRG_MORTALITY    0
dtype: int64

In [17]:
# Displaying the first few rows of the DataFrame:
drgcodes.head()

,ROW_ID,SUBJECT_ID,HADM_ID,DRG_TYPE,DRG_CODE,DESCRIPTION,DRG_SEVERITY,DRG_MORTALITY
0,342,2491,144486,HCFA,28,"TRAUMATIC STUPOR & COMA, COMA <1 HR AGE >17 WI...",Unknown,Unknown
1,343,24958,162910,HCFA,110,MAJOR CARDIOVASCULAR PROCEDURES WITH COMPLICAT...,Unknown,Unknown
2,344,18325,153751,HCFA,390,NEONATE WITH OTHER SIGNIFICANT PROBLEMS,Unknown,Unknown
3,345,17887,182692,HCFA,14,SPECIFIC CEREBROVASCULAR DISORDERS EXCEPT TRAN...,Unknown,Unknown
4,346,11113,157980,HCFA,390,NEONATE WITH OTHER SIGNIFICANT PROBLEMS,Unknown,Unknown

In [ ]:
#save clean data into csv file

csv_path = 'drgcodes_table_clean.csv'
drgcodes.to_csv(csv_path,
                   index = False)